section.summary
  h1 Private Topics
  p These topics are visible only to you and the other topic participants.

section.topics
  nav.discussion.actions
    ul
      li.new-topic
        a(href="topic/action/startPrivate") Start a new private topic
      //- li.subscribe
      //-   a(href="private-topics/action/subscribe" title="Receive an e-mail notification when you're invited to a new private topic.") Notify me

include ../partials/pagination

if topics
  each topic in topics
    article(class="topic #{ topic.updated ? 'updated' : '' } #{ topic.unread ? 'unread' : '' } #{ topic.lockedByID ? 'locked' : '' }" data-topic-id="#{topic.id}")
      h3
        a(href="topic/id/#{topic.id}") !{topic.titleHtml}
      dl.details
        dt.author Author
        dd.author
          a(href="user/#{topic.topicStarterUrl}/id/#{topic.topicStarterID}" rel="author" title="View #{topic.topicStarter}'s profile.") #{topic.topicStarter}
        dt.date Date
        dd.date
          = topic.postDateFormatted
        dt.replies Replies
        dd.replies
          = topic.repliesFormatted
        dt.last-post Last post
        dd.last-post
          time #{topic.lastPostDateFormatted}
      a.avatar(href="user/#{topic.topicStarterUrl}/id/#{topic.topicStarterID}" rel="author" title="View #{topic.topicStarter}'s profile.")
        img(src="avatars/#{topic.topicStarterID}.jpg")
else
  p You're not participating in any private topics.

include ../partials/pagination
