section.summary
  h1 Private Topics
  p These topics are visible only to you and the other topic participants.

include ../partials/pagination

section.topics
  nav.discussion.actions
    ul
      li.new-topic
        a(href="topic/action/startPrivate") Start a new private topic
      //- li.subscribe
      //-   a(href="private-topics/action/subscribe" title="Receive an e-mail notification when you're invited to a new private topic.") Notify me
  if topics
    each topic in topics
      article(class="topic #{ topic.replies ? 'has-replies' : '' } #{ topic.unread ? 'unread' : '' } #{ topic.lockedByID ? 'locked' : '' }" data-topic-id="#{topic.id}")
        h3
          a(href="topic/#{topic.url}/id/#{topic.id}") !{topic.titleHtml}
        a.avatar(href="user/#{topic.topicStarterUrl}/id/#{topic.topicStarterID}" rel="author" title="View #{topic.topicStarter}'s profile.")
          img(src="avatars/#{topic.topicStarterID}.jpg")
        dl.byline
          dt.author Author
          dd.author
            a(href="user/#{topic.topicStarterUrl}/id/#{topic.topicStarterID}" rel="author" title="View #{topic.topicStarter}'s profile.") #{topic.topicStarter}
          dt.date Date
          dd.date
            = topic.postDateFormatted
        if topic.replies
          a.content-stats(href="topic/#{topic.url}/id/#{topic.id}")
            dl.content-stats
              dt.replies Replies
              dd.replies
                = topic.repliesFormatted
          p.last-post
            a.avatar(href="user/#{topic.lastPostAuthorUrl}/id/#{topic.lastPostAuthorID}" rel="author" title="View #{topic.lastPostAuthor}'s profile.")
              img(src="avatars/#{topic.lastPostAuthorID}.jpg")
            a(href="user/#{topic.lastPostAuthorUrl}/id/#{topic.lastPostAuthorID}" rel="author" title="View #{topic.lastPostAuthor}'s profile.")
              = topic.lastPostAuthor
            |  replied 
            time #{topic.lastPostCreatedFormatted}
  else
    p You're not participating in any private topics.

include ../partials/pagination
