footer(data-view="/views/partials/footer")
  a.home(href="/" title="Go to our home page.")
    != logo
  section.stats
    p <strong>#{stats.users}</strong> members have started <strong>#{stats.topics}</strong> topics with <strong>#{stats.posts}</strong> posts since <strong>#{stats.firstPostCreated}</strong>.
  section.copyright
    p Site content Copyright © #{copyrightYear} TEH Innernets LLC. Please read our <a href="terms-of-service.html">Terms of Service</a>.
    p originaltrilogy.com is not affiliated with Lucasfilm, 20th Century Fox, or Disney. All Star Wars content, images, and likenesses are the property of their respective copyright owner.
    p We &lt;3 Star Wars and give it all the moneys. Please don't sue us.
