doctype html
html(lang="en")
  != include._head
  body(data-controller=route.controller data-action=route.action data-chain=controllerChain data-mode=config.citizen.mode data-descriptor=route.descriptor data-breadcrumbs= breadcrumbs ? "true" : "false" data-page= url.page || 1 )
    != include._header
    main
      each link in route.chain
        if link.output
          | <!-- controller: #{link.controller}, action: #{link.action}, view: #{link.view} -->
          != link.output
    != include._footer
    if config.citizen.mode === 'development'
      | <script id="__bs_script__">//<![CDATA[
      | document.write("<script async src='https://HOST:8181/browser-sync/browser-sync-client.js?v=2.27.10'><\/script>".replace("HOST", location.hostname));
      | //]]></script>
