doctype html
html(lang="en")
  != include._head
  body#top(data-chain="#{controllerChain}" data-controller="#{route.controller}" data-action="#{route.action}" data-view="#{route.view}" data-renderer="#{route.renderer}" data-rendered-view="#{route.renderedView}" data-show="#{route.show}" data-task="#{route.task}" data-type="#{route.type}" data-mode="#{config.citizen.mode}" data-breadcrumbs="#{ breadcrumbs ? 'true' : 'false' }" data-page="#{ url.page || 1 }")
    != include._header
    main
      each controller in route.chain
        if controller.viewContent
          | <!-- controller: #{controller.controller}, action: #{controller.action}, view: #{controller.view} -->
          != controller.viewContent
      a.to-the-top(href="#{route.url}#top") To the top
    != include._footer
