article.post(id="#{post.id}" data-post-id="#{post.id}")
  h2
    img(src="#{config.comitium.staticAssetUrl}avatars/#{post.authorID}.png")
    a(href="user/#{post.authorUrl}/id/#{post.authorID}")
      = post.author
    time
      = post.dateCreated
  .content
    != post.html
  nav.actions
    ul
      if ( session.username === post.author && post.lockedByID === 0 ) || session.moderateDiscussions
        li.edit
          a(href="post/action/edit/id/#{post.id}") Edit
      li.bookmark
        a(href="post/action/bookmark/id/#{post.id}") Bookmark
      if post.authorID !== session.userID && !session.moderateDiscussions
        li.report
          a(href="post/action/report/id/#{post.id}") Report
      if session.moderateDiscussions
        if post.lockedByID === 0
          li.lock
            a(href="post/action/lock/id/#{post.id}") Lock
        else
          li.unlock
            a(href="post/action/unlock/id/#{post.id}") Unlock
        li.delete
          a(href="post/action/trash/id/#{post.id}") Delete
