article.post(id="#{post.id}" data-post-id="#{post.id}" data-signature="#{ post.authorSignature ? 'true' : 'false' }")
  header
    a.avatar(href="user/#{post.authorUrl}/id/#{post.authorID}" rel="author")
      img(src="#{config.comitium.staticAssetUrl}avatars/#{post.authorID}.jpg")
    dl
      dt.author Author
      dd.author
        a.author(href="user/#{post.authorUrl}/id/#{post.authorID}" rel="author")
          = post.author
      dt.time Time
      dd.time
        time
          = post.createdFormatted
  section.content.post
    != post.html
  if post.editorID
    p.edited
      a(href="post/id/#{post.id}") This post has been edited.
  nav.actions
    ul
      if !topic.lockedByID
        //- li.reply
        //-   a(href="topic/action/reply/id/#{url.id}") Reply
        li.quote
          a(href="topic/action/reply/id/#{url.id}/quote/#{post.id}") Quote
      if ( session.username === post.author && !post.lockedByID && !topic.lockedByID ) || session.moderateDiscussions
        li.edit
          a(href="post/action/edit/id/#{post.id}") Edit
      //- li.bookmark
      //-   a(href="post/action/bookmark/id/#{post.id}") Bookmark
  if post.authorSignature
    section.content.signature
      != post.authorSignature
