article.post(id="#{post.id}" data-post-id="#{post.id}")
  h2
    img(src="#{config.comitium.staticAssetUrl}avatars/#{post.authorID}.jpg")
    a(href="user/#{post.authorUrl}/id/#{post.authorID}")
      = post.author
    time
      = post.dateCreated
  .content
    != post.html
  nav.actions
    ul
      if !topic.lockedByID
        li.reply
          a(href="#{route.pathname}/action/reply") Reply
        li.quote
          a(href="#{route.pathname}/action/reply/quote/#{post.id}") Quote
      if ( session.username === post.author && !post.lockedByID && !topic.lockedByID ) || session.moderateDiscussions
        li.edit
          a(href="post/action/edit/id/#{post.id}") Edit
      li.bookmark
        a(href="post/action/bookmark/id/#{post.id}") Bookmark
  if post.authorSignature
    .signature
      != post.authorSignature
