article(id="#{post.id}" class="post #{ post.authorSignature ? 'signature' : '' } #{ post.authorGroupID === 4 || post.authorGroupID === 5 ? 'signature staff' : ''}" data-post-id="#{post.id}")
  header
    a(class="avatar #{ post.authorGroupID === 6 ? 'banned' : '' }" href="user/#{post.authorUrl}/id/#{post.authorID}" rel="author")
      if post.authorGroupID === 6
        <svg class="icon banned"><use xlink:href="themes/default/images/symbols.svg#icon-banned"></use></svg>
      img(src="avatars/#{post.authorID}.jpg")
    dl
      dt.author Author
      dd.author
        a.author(href="user/#{post.authorUrl}/id/#{post.authorID}" rel="author") #{post.author}
      dt.time Time
      dd.time
        if !post.editorID
          time
            != post.createdFormatted
        else
          time
            != post.createdFormatted
          span.edited &nbsp;<a href="post/id/#{post.id}">(Edited)</a>
      dt.link Post link
      dd.link
        a.post(href="post/id/#{post.id}/action/topic##{post.id}" title="Jump directly to this post.")
          | <svg class="icon link"><use xlink:href="themes/default/images/symbols.svg#icon-link"></use></svg>
  section.content.post
    != post.html
  nav.actions
    ul
      if !topic.lockedByID || session.moderateDiscussions
        li.quote
          a(href="topic/action/reply/id/#{url.id}/quote/#{post.id}") Quote
      if ( session.username === post.author && !post.lockedByID && !topic.lockedByID ) || session.moderateDiscussions
        li.edit
          a(href="post/action/edit/id/#{post.id}") Edit
      //- li.bookmark
      //-   a(href="post/action/bookmark/id/#{post.id}") Bookmark
      if post.authorID !== session.userID && !session.moderateDiscussions
        li.report
          a(href="post/action/report/id/#{post.id}") Report
      if session.moderateDiscussions
        if !post.lockedByID
          li.lock
            a(href="post/action/lock/id/#{post.id}") Lock
        else
          li.unlock
            a(href="post/action/unlock/id/#{post.id}") Unlock
        // Don't allow the only post in the topic to be deleted
        if topic.replies > 0
          li.delete
            a(href="post/action/trash/id/#{post.id}") Delete
  if post.authorSignature
    section.signature
      if post.authorGroupID === 4
        section.staff.moderator originaltrilogy.com Moderator
      else if post.authorGroupID === 5
        section.staff.administrator originaltrilogy.com Administrator
      section.content
        != post.authorSignature
