article.post(id="#{post.id}" data-post-id="#{post.id}")
  header
    a.avatar(href="user/#{post.authorUrl}/id/#{post.authorID}" rel="author")
      img(src="#{config.comitium.staticAssetUrl}avatars/#{post.authorID}.jpg")
    dl
      dt.author Author
      dd.author
        a.author(href="user/#{post.authorUrl}/id/#{post.authorID}" rel="author")
          = post.author
      dt.time Time
      dd.time
        time
          = post.dateCreated
  .content
    != post.html
  if post.editorID
    p.edited
      a(href="post/id/#{post.id}") This post has been edited.
  nav.actions
    ul
      if !topic.lockedByID || session.moderateDiscussions
        li.reply
          a(href="topic/action/reply/id/#{url.id}") Reply
        li.quote
          a(href="topic/action/reply/id/#{url.id}/quote/#{post.id}") Quote
      if ( session.username === post.author && !post.lockedByID && !topic.lockedByID ) || session.moderateDiscussions
        li.edit
          a(href="post/action/edit/id/#{post.id}") Edit
      li.bookmark
        a(href="post/action/bookmark/id/#{post.id}") Bookmark
      if post.authorID !== session.userID && !session.moderateDiscussions
        li.report
          a(href="post/action/report/id/#{post.id}") Report
      if session.moderateDiscussions
        if !post.lockedByID
          li.lock
            a(href="post/action/lock/id/#{post.id}") Lock
        else
          li.unlock
            a(href="post/action/unlock/id/#{post.id}") Unlock
        li.delete
          a(href="post/action/trash/id/#{post.id}") Delete
  if post.authorSignature
    .signature
      != post.authorSignature
