article.post(id=post.id data-post-id=post.id)
  header
    dl
      dt.post Post
      dd.post
        a(href="post/id/" + post.id) ##{post.id}
      dt.topic Topic
      dd.topic <a href="topic/#{post.topic_url}/id/#{post.topic_id}">#{post.topic_title}</a>
      dt.link Link
      dd.link <a href="post/id/#{post.id}/action/topic##{post.id}">#{config.comitium.baseUrl}post/id/#{post.id}/action/topic##{post.id}</a>
      dt.time Time
      dd.time
        if !post.editor_id
          time #{post.created_formatted}
        else
          time #{post.created_formatted} <span class="edited">— <a href="post/id/#{post.id}">Edited #{post.modified_formatted}</a></span>
  section.content.post
    != post.html
  nav.actions
    ul
      if ( session.username === post.author && !post.locked_by_id ) || session.moderate_discussions
        li.edit
          a(href="post/action/edit/id/" + post.id) Edit
      //- li.bookmark
      //-   a(href="post/action/bookmark/id/#{post.id}") Bookmark
      if post.authorID !== session.user_id && !session.moderate_discussions
        li.report
          a(href="post/action/report/id/" + post.id) Report
      if session.moderate_discussions
        if !post.locked_by_id
          li.lock
            a(href="post/action/lock/id/" + post.id) Lock
        else
          li.unlock
            a(href="post/action/unlock/id/" + post.id) Unlock
        // Don"t allow the only post in the topic to be deleted
        if post.topic_replies > 0
          li.delete
            a(href="post/action/trash/id/" + post.id) Delete
