article.post(id="#{post.id}" data-post-id="#{post.id}")
  header
    dl
      dt.post Post
      dd.post
        a(href="post/id/#{post.id}") ##{post.id}
      dt.topic Topic
      dd.topic <a href="topic/#{post.topicUrl}/id/#{post.topicID}">#{post.topicTitle}</a>
      dt.time Time
      dd.time
        time
          = post.dateCreated
  section.content
    != post.html
  if post.editorID
    p.edited
      a(href="post/id/#{post.id}") This post has been edited.
  nav.actions
    ul
      if ( session.username === post.author && post.lockedByID === 0 ) || session.moderateDiscussions
        li.edit
          a(href="post/action/edit/id/#{post.id}") Edit
      li.bookmark
        a(href="post/action/bookmark/id/#{post.id}") Bookmark
      if post.authorID !== session.userID && !session.moderateDiscussions
        li.report
          a(href="post/action/report/id/#{post.id}") Report
      if session.moderateDiscussions
        if post.lockedByID === 0
          li.lock
            a(href="post/action/lock/id/#{post.id}") Lock
        else
          li.unlock
            a(href="post/action/unlock/id/#{post.id}") Unlock
        li.delete
          a(href="post/action/trash/id/#{post.id}") Delete
