header
  section.summary
    h1 Edit a post
    if !preview
      p Your changes will appear immediately. The post's current state will be saved in its history and can be recovered later.

if preview
  section.preview
    h2 Post preview:
    article.post
      section.content
        != preview.content

if message
  section.notice.error
    <svg class="icon error"><use xlink:href="themes/default/images/symbols.svg#icon-error"></use></svg>
    p !{message}

section.form.post.post-edit
  form#post-edit-form(action="post/id/#{url.id}/action/editForm" method="post" novalidate)
    input(name="forwardToUrl" type="hidden" value="#{form.forwardToUrl}")
    ul.data
      li.post-content.textarea.required
        label(for="post-content")
          | Post content
        textarea(id="post-content" name="content" rows="20" required) #{form.content}
      li.post-edit-reason.textarea
        label(for="post-edit-reason")
          | Reason for editing
        textarea(id="post-edit-reason" name="reason") #{form.reason}

    ul.actions
      li.secondary.preview
        input(name="formAction" type="submit" value="Preview post")
      li.primary.edit
        input(name="formAction" type="submit" value="Save changes")
      //- li.tertiary.draft
      //-   input(name="formAction" type="submit" value="Save as draft")
