section.summary
  h1 Edit a post
  if !preview
    p Your changes will appear immediately. The post's current state will be saved in its history and be recovered later.

if preview
  section.preview
    h2 Post preview:
    article.post
      .content
        != preview.content
          
section.post-edit-form
  form#post-edit-form(action="post/id/#{url.id}/action/editForm" method="post" novalidate)
    if edit && edit.message
      .edit-messages
        ul
          li #{edit.message}
    .data
      input(name="forwardToUrl" type="hidden" value="#{form.forwardToUrl}")
      ul
        li.post-content.textarea.required
          label(for="post-content")
            | Post content
          textarea(id="post-content" name="content" rows="10" required) #{form.content}
        li.post-edit-reason.textarea
          label(for="post-edit-reason")
            | Reason for editing
          textarea(id="post-edit-reason" name="reason") #{form.reason}
    .actions
      ul
        li.secondary.preview
          input(name="formAction" type="submit" value="Preview")
        li.primary.edit
          input(name="formAction" type="submit" value="Save changes")
        //- li.tertiary.draft
        //-   input(name="formAction" type="submit" value="Save as draft")
        li.quaternary.cancel
          a(href="#{request.headers.referer}" title="Return to the page you came from.") Cancel and go back
