header
  section.summary
    h1 Lock a post
    p Locking a post prevents its author from making edits. You can unlock the post at any time.

if lock && lock.message
  section.notice.error
    p !{lock.message}

section.form.post-lock
  form#post-lock-form(action="post/id/#{url.id}/action/lockForm" method="post" novalidate)
    input(name="forwardToUrl" type="hidden" value="#{form.forwardToUrl}")
    ul.data
      li.lock-reason.textarea
        label(for="reason") Why are you locking this post?
        p.label-note Optional
        textarea#reason(name="reason" rows="4") #{form.reason}
      li.notify.checkbox
        input(id="notify" name="notify" type="checkbox" value="true" checked=form.notify)
        label(for="notify") Notify the author

    ul.actions
      li.primary.report
        input(name="formAction" type="submit" value="Lock this post")

!= include.post
