section.summary
  h1 Announcement: !{topic.titleHtml}

if topic.lockedByID
  section.notice.locked
    if !session.moderateDiscussions
      p This topic has been locked by a moderator.
    else
      p This topic is locked, but as a moderator, you can still reply and make edits.
    if topic.lockReason.length
      dl
        dt Why was this topic locked?
        dd
          != topic.lockReason

nav.topic.actions
  ul
    if topic.discussionID !== 1
      li.reply
        a(href="announcement/action/reply/id/#{url.id}") Reply
      if !userIsSubscribed
        li.subscribe
          a(href="announcement/action/subscribe/id/#{url.id}" title="Receive an e-mail notification when people reply to this topic.") Subscribe
      else
        li.unsubscribe
          a(href="announcement/action/unsubscribe/id/#{url.id}" title="Stop receiving e-mail notifications about this topic.") Unsubscribe
    if session.moderateDiscussions
      if topic.discussionID !== 1
        if !topic.lockedByID
          li.lock
            a(href="announcement/action/lock/id/#{url.id}" title="Lock this topic (no replies or edits).") Lock
        else
          li.unlock
            a(href="announcement/action/unlock/id/#{url.id}" title="Unlock this topic.") Unlock
        li.delete
          a(href="announcement/action/trash/id/#{url.id}" title="Move this topic to the trash.") Delete
  
include ../partials/pagination
          
section.posts
  if posts
    each post in posts
      include ../post/_topic-post

include ../partials/pagination

if userCanReply
  section.quick-reply-form
    h2 Quick reply
    form#quick-reply-form(action="announcement/id/#{url.id}/action/replyForm" method="post" novalidate)
      .data
        ul
          li.post-content.textarea.required
            label(for="post-content")
              | Post content
            textarea(id="post-content" name="content" rows="10" required) #{config.comitium.editorIntro}
          li.subscribe.checkbox
            input(id="subscribe" name="subscribe" type="checkbox" value="true")
            label(for="subscribe")
              | Notify me when someone replies
      .actions
        ul
          li.secondary.preview
            input(name="formAction" type="submit" value="Preview")
          li.primary.reply
            input(name="formAction" type="submit" value="Post your reply")
          //- li.tertiary.draft
          //-   input(name="formAction" type="submit" value="Save as draft")
