h1
  != topic.titleHtml
  
include ../partials/pagination

if topic.lockedByID
  .notice
    if !session.moderateDiscussions
      p This topic is locked.
    else
      p This topic is locked, but as a moderator, you can still reply and make edits.
    if topic.lockReason.length
      dl
        dt Why was this topic locked?
        dd
          != topic.lockReason
      

nav.topic
  ul
    if topic.discussionID !== 1
      li.reply
        a(href="#{route.pathname}/action/reply") Reply
      if !userIsSubscribed
        li.subscribe
          a(href="#{route.pathname}/action/subscribe" title="Receive an e-mail notification when people reply to this topic.") Subscribe
      else
        li.unsubscribe
          a(href="#{route.pathname}/action/unsubscribe" title="Stop receiving e-mail notifications about this topic.") Unsubscribe
    if session.moderateDiscussions
      if topic.discussionID !== 1
        if !topic.lockedByID
          li.lock
            a(href="#{route.pathname}/action/lock" title="Lock this topic (no replies or edits).") Lock
        else
          li.unlock
            a(href="#{route.pathname}/action/unlock" title="Unlock this topic.") Unlock
        li.delete
          a(href="#{route.pathname}/action/trash" title="Move this topic to the trash.") Delete
          
section.posts
  if posts
    each post in posts
      include ../post/post
  else
    p This topic has no replies. <a href="announcement/action/reply/id/#{topic.id}">Why not weigh in?</a>

include ../partials/pagination
