h1 Make an announcement

if preview
  section.preview
    h2 Topic preview:
    article.post
      .title
        != preview.title
      .content
        != preview.content
          
section.topic-write-form
  form#topic-write-form(action="announcement/action/startForm" method="post" novalidate)
    if topic && topic.message
      .messages
        ul
          li #{topic.message}
    .data
      ul
        li.topic-title.text.required
          label(for="topic-title")
            | Topic title
          textarea(id="topic-title" name="title" rows="2" required) #{form.title}
        li.post-content.textarea.required
          label(for="post-content")
            | Post content
          textarea(id="post-content" name="content" rows="10" required) #{form.content}
        li.discussions
          p Where do you want this announcement to appear?
          p.label-note Only people with access rights to the selected forums will see this announcement.
          ul
            li.radio
              input(id="display-discussions-none" name="displayDiscussions" type="radio" value="none" checked=(form.displayDiscussions === 'none'))
              label(for="display-discussions-none")
                | Only within <a href="announcements">Announcements</a>
            li.radio
              input(id="display-discussions-all" name="displayDiscussions" type="radio" value="all" checked=(form.displayDiscussions === 'all'))
              label(for="display-discussions-all")
                | Within all discussion forums
            li.radio
              input(id="display-discussions-custom" name="displayDiscussions" type="radio" value="custom" checked=(form.displayDiscussions === 'custom'))
              label(for="display-discussions-custom")
                | Within the following forums:
              ul
                each category in categories
                  li
                    = category.categoryTitle
                    ul
                      each discussion in category.discussions
                        li.discussion.checkbox
                          input(id="discussion-#{discussion.discussionID}" name="discussions" type="checkbox" value="#{discussion.discussionID}" checked=form.discussions[discussion.discussionID])
                          label(for="discussion-#{discussion.discussionID}")
                            = discussion.discussionTitle
        li.subscribe.checkbox
          input(id="subscribe" name="subscribe" type="checkbox" value="true" checked=form.subscribe)
          label(for="subscribe")
            | Notify me when someone replies
    .actions
      ul
        li.secondary.preview
          input(name="formAction" type="submit" value="Preview")
        li.primary.post
          input(name="formAction" type="submit" value="Post your announcement")
        //- li.tertiary.draft
        //-   input(name="formAction" type="submit" value="Save as draft")
        li.quaternary.cancel
          a(href="#{request.headers.referer}" title="Return to the page you came from.") Cancel and go back
