if authenticate && authenticate.message
  section.notice.error
    <svg class="icon error"><use xlink:href="themes/#{session.themePath.images}/images/symbols.svg#icon-error"></use></svg>
    p !{authenticate.message}

section.form.sign-in
  form(action="sign-in/action/submit" method="post" novalidate)
    input(name="forwardToUrl" type="hidden" value=form.forwardToUrl)
    input(name="loginReferrer" type="hidden" value=form.loginReferrer)
    ul.data
      li.email.text.required
        label(for="email") E-mail
        input(id="email" name="email" type="email" value=form.email required)
      li.password.text.required
        label(for="password") Password
        input(id="password" name="password" type="password" value=form.password required)
      li.remember.checkbox
        input(id="remember" name="remember" type="checkbox" value="true" checked=form.remember)
        label(for="remember") Remember me
  
    ul.actions
      li.primary
        input(name="formAction" type="submit" value="Sign in")
      li.secondary
        a(href="password-reset" title="Reset your forum password and have your login credentials e-mailed to you.") I forgot my login credentials...
