header
  section.summary
    h1 Edit topic: #{topic.title}

if preview
  section.preview
    h2 Topic preview:
    article.post
      h3.title
        != preview.title
      section.content
        != preview.content

if topic && topic.message
  section.notice.error
    p !{topic.message}

section.form.post.topic-write
  form#topic-write-form(action="topic/action/editForm/id/#{topic.id}" method="post" novalidate)
    ul.data
      li.topic-title.textarea.required
        label(for="topic-title")
          | Topic title
        textarea(id="topic-title" name="title" rows="2" required) #{form.title}
      li.post-content.textarea.required
        label(for="post-content")
          | Post content
        textarea(id="post-content" name="content" rows="10" required) #{form.content}

    ul.actions
      li.secondary.preview
        input(name="formAction" type="submit" value="Preview changes")
      li.primary.save
        input(name="formAction" type="submit" value="Save changes")
