header
  section.summary
    h1 Leave a private topic: !{topic.titleHtml}

if topic && topic.message
  section.notice.error
    <svg class="icon error"><use xlink:href="themes/default/images/symbols.svg#icon-error"></use></svg>
    p !{topic.message}

section.form.topic-leave
  p Once you leave a private topic, you can no longer view the topic or reply. Are you sure you want to leave?
  form#topic-leave-form(action="topic/action/leaveForm/id/#{topic.id}" method="post" novalidate)
    input(name=topic_id type="hidden" value="#{topic.id}")
    input(name="forwardToUrl" type="hidden" value="#{form.forwardToUrl}")
    ul.actions
      li.primary
        input(name="formAction" type="submit" value="Leave this topic")
      li.secondary
        a(href="private-topics") Cancel
