section.summary
  h1 Lock a Topic
  p Locking a topic prevents users from replying and editing their posts. Moderators can still reply and make edits to locked topics, however.
  p You can unlock the topic later if you change your mind; it's not permanent.

if lock && lock.message
  section.notice.error
    p #{lock.message}

section.topic-lock-form
  form#topic-lock-form(action="topic/id/#{url.id}/action/lockForm" method="post" novalidate)
    .data
      input(name="forwardToUrl" type="hidden" value="#{form.forwardToUrl}")
      ul
        li.lock-reason.textarea
          label(for="reason") Why are you locking this topic?
          p.label-note Optional
          textarea(id="reason" name="reason" rows="10") #{form.reason}
        //- li.notify.checkbox
        //-   input(id="notify" name="notify" type="checkbox" value="true" checked=form.notify)
        //-   label(for="notify") Notify the author
    .actions
      ul
        li.primary.report
          input(name="formAction" type="submit" value="Lock this topic")
        li.secondary.cancel
          a(href="#{request.headers.referer}" title="Return to the page you came from.") Cancel and go back
