h1
  != topic.titleHtml

p.private-notice This topic is private and only visible to:

ul.participants
  each user in invitees
    li
      a(href="user/#{user.username}/id/#{user.id}")
        = user.username

include ../partials/pagination

nav.topic.actions
  ul
    li.reply
      a(href="#{route.pathname}/action/reply") Reply
    if !userIsSubscribed
      li.subscribe
        a(href="#{route.pathname}/action/subscribe" title="Receive an e-mail notification when people reply to this topic.") Subscribe
    else
      li.unsubscribe
        a(href="#{route.pathname}/action/unsubscribe" title="Stop receiving e-mail notifications about this topic.") Unsubscribe

section.posts
  if posts
    each post in posts
      include ../post/_private-topic-post
  if !topic.replies
    p This topic has no replies. <a href="topic/action/reply/id/#{topic.id}">Why not weigh in?</a>

include ../partials/pagination
