section.summary
  h1 !{topic.titleHtml}

section.notice.private
  p This topic is private and only visible to:
  ul.participants
    each user in invitees
      li
        a(href="user/#{user.username}/id/#{user.id}")
          = user.username

include ../partials/pagination

nav.topic.actions
  ul
    li.reply
      a(href="#{route.pathname}/action/reply") Reply
    if !userIsSubscribed
      li.subscribe
        a(href="#{route.pathname}/action/subscribe" title="Receive an e-mail notification when people reply to this topic.") Subscribe
    else
      li.unsubscribe
        a(href="#{route.pathname}/action/unsubscribe" title="Stop receiving e-mail notifications about this topic.") Unsubscribe

section.posts
  if posts
    each post in posts
      include ../post/_private-topic-post

include ../partials/pagination

if userCanReply
  section.form.quick-reply
    h2 Quick reply
    form#quick-reply-form(action="topic/id/#{url.id}/action/replyForm" method="post" novalidate)
      .data
        ul
          li.post-content.textarea.required
            label(for="post-content")
              | Post content
            textarea(id="post-content" name="content" rows="10" required) #{config.comitium.editorIntro}
          li.subscribe.checkbox
            input(id="subscribe" name="subscribe" type="checkbox" value="true")
            label(for="subscribe")
              | Notify me when someone replies
      .actions
        ul
          li.secondary.preview
            input(name="formAction" type="submit" value="Preview")
          li.primary.reply
            input(name="formAction" type="submit" value="Post your reply")
          //- li.tertiary.draft
          //-   input(name="formAction" type="submit" value="Save as draft")
