header
  section.summary
    h1 Reply to topic: !{topic.titleHtml}

if preview
  section.preview
    h2 Post preview:
    article.post
      section.content.post
        != preview.content

if message
  section.notice.error
    <svg class="icon error"><use xlink:href="themes/#{session.themePath.images}/images/symbols.svg#icon-error"></use></svg>
    p !{message}

section(class="form post topic-reply" + ( url.quote ? " quote" : "" ))
  form#topic-reply-form(action="topic/id/" + url.id + "/action/replyForm" method="post" novalidate)
    ul.data
      li.post-content.textarea.required
        label(for="post-content")
          | Post content
        textarea(id="post-content" name="content" rows="20" required) #{form.content}
      li.subscribe.checkbox
        input(id="subscribe" name="subscribe" type="checkbox" value="true" checked=form.subscribe)
        label(for="subscribe")
          | Notify me when someone replies

    ul.actions
      li.secondary.preview
        input(name="formAction" type="submit" value="Preview post")
      li.primary.reply
        input(name="formAction" type="submit" value="Submit your reply")
      //- li.tertiary.draft
      //-   input(name="formAction" type="submit" value="Save as draft")
