section.summary
  h1 Start a new topic in #{discussion.title}

if preview
  section.preview
    h2 Topic preview:
    article.post
      .title
        != preview.title
      .content
        != preview.content

if topic && topic.message
  section.notice.error
    p !{topic.message}

section.topic-write-form
  form#topic-write-form(action="topic/action/startForm/id/#{discussion.id}" method="post" novalidate)
    .data
      ul
        li.topic-title.text.required
          label(for="topic-title")
            | Topic title
          textarea(id="topic-title" name="title" rows="2" required) #{form.title}
        li.post-content.textarea.required
          label(for="post-content")
            | Post content
          textarea(id="post-content" name="content" rows="10" required) #{form.content}
        li.subscribe.checkbox
          input(id="subscribe" name="subscribe" type="checkbox" value="true" checked=form.subscribe)
          label(for="subscribe")
            | Notify me when someone replies
    .actions
      ul
        li.secondary.preview
          input(name="formAction" type="submit" value="Preview")
        li.primary.post
          input(name="formAction" type="submit" value="Post your topic")
        //- li.tertiary.draft
        //-   input(name="formAction" type="submit" value="Save as draft")
        li.quaternary.cancel
          a(href="#{request.headers.referer}" title="Return to the page you came from.") Cancel and go back
