header
  include ../partials/breadcrumbs
  section.summary
    h1 Make an announcement
    p Announcements are special topics that have higher prominence than standard topics. They can be displayed in the <a href="announcements">Announcements</a> discussion or at the top of individual discussions above the other topics.

if preview
  section.preview
    h2 Topic preview:
    article.post
      h3.title
        != preview.title
      section.content.post
        != preview.content

if topic && topic.message
  section.notice.error
    <svg class="icon error"><use xlink:href="themes/#{session.themePath.images}/images/symbols.svg#icon-error"></use></svg>
    p !{topic.message}

section.form.post.topic-write
  form#topic-write-form(action="topic/action/startAnnouncementForm" method="post" novalidate)
    ul.data
      li.topic-title.textarea.required
        label(for="topic-title")
          | Topic title
        textarea(id="topic-title" name="title" rows="2" required) #{form.title}
      li.post-content.textarea.required
        label(for="post-content")
          | Post content
        textarea(id="post-content" name="content" rows="20" required) #{form.content}
      li.discussions
        label Where should this announcement appear?
        p.label-note Only people with access rights to the selected forums will see this announcement.
        ul.data.radio
          li.radio
            input(id="display-discussions-none" name="displayDiscussions" type="radio" value="none" checked=(form.displayDiscussions === "none"))
            label(for="display-discussions-none")
              | Only within Announcements
          li.radio
            input(id="display-discussions-all" name="displayDiscussions" type="radio" value="all" checked=(form.displayDiscussions === "all"))
            label(for="display-discussions-all")
              | Within all discussion forums
          li.radio
            input(id="display-discussions-custom" name="displayDiscussions" type="radio" value="custom" checked=(form.displayDiscussions === "custom"))
            label(for="display-discussions-custom")
              | Within the following forums:
            ul.data
              each category in categories
                li
                  = category.categoryTitle
                  ul.data.checkbox
                    each discussion in category.subcategories
                      if discussion.discussionID !== 1
                        li.discussion.checkbox
                          input(id="discussion-#{discussion.discussionID}" name="discussions" type="checkbox" value=discussion.discussionID checked=form.discussions[discussion.discussionID])
                          label(for="discussion-" + discussion.discussionID)
                            = discussion.discussionTitle
      li.subscribe.checkbox
        input(id="subscribe" name="subscribe" type="checkbox" value="true" checked=form.subscribe)
        label(for="subscribe")
          | Notify me when someone replies

    ul.actions
      li.secondary.preview
        input(name="formAction" type="submit" value="Preview post")
      li.primary.post
        input(name="formAction" type="submit" value="Post your announcement")
      //- li.tertiary.draft
      //-   input(name="formAction" type="submit" value="Save as draft")
