section.summary
  h1 !{topic.titleHtml}

if topic.lockedByID
  section.notice.locked
    if !session.moderateDiscussions
      p This topic has been locked by a moderator.
    else
      p This topic is locked, but as a moderator, you can still reply and make edits.
    if topic.lockReason
      dl
        dt Why was this topic locked?
        dd
          != topic.lockReason

if !topic.lockedByID || ( topic.lockedByID && session.moderateDiscussions )
  nav.topic.actions
    ul
      if topic.discussionID !== 1
        //- Everyone (including the public) should see the reply button.
        //- Only exception: the topic is locked and the user isn't a mod.
        if !topic.lockedByID || ( topic.lockedByID && session.moderateDiscussions )
          li.reply
            a(href="topic/action/reply/id/#{url.id}") Reply
        if !userIsSubscribed
          li.subscribe
            a(href="topic/action/subscribe/id/#{topic.id}" title="Receive an e-mail notification when people reply to this topic.") Subscribe
        else
          li.unsubscribe
            a(href="topic/action/unsubscribe/id/#{topic.id}" title="Stop receiving e-mail notifications about this topic.") Unsubscribe
      if session.moderateDiscussions
        li.move
          a(href="topic/action/move/id/#{topic.id}" title="Move this topic to another discussion forum.") Move
        if topic.discussionID !== 1
          if !topic.lockedByID
            li.lock
              a(href="topic/action/lock/id/#{topic.id}" title="Lock this topic (no replies or edits).") Lock
          else
            li.unlock
              a(href="topic/action/unlock/id/#{topic.id}" title="Unlock this topic.") Unlock
          li.delete
            a(href="topic/action/trash/id/#{topic.id}" title="Move this topic to the trash.") Delete
  
include ../partials/pagination
          
section.posts
  if posts
    each post in posts
      include ../post/_topic-post

include ../partials/pagination

if userCanReply
  section.form.quick-reply
    h2 Quick reply
    form#quick-reply-form(action="topic/id/#{url.id}/action/replyForm" method="post" novalidate)
      ul.data
        li.post-content.textarea.required
          label(for="post-content")
            | Post content
          textarea(id="post-content" name="content" rows="10" required) #{config.comitium.editorIntro}
        li.subscribe.checkbox
          input(id="subscribe" name="subscribe" type="checkbox" value="true")
          label(for="subscribe")
            | Notify me when someone replies
    
      ul.actions
        li.secondary.preview
          input(name="formAction" type="submit" value="Preview")
        li.primary.reply
          input(name="formAction" type="submit" value="Post your reply")
        //- li.tertiary.draft
        //-   input(name="formAction" type="submit" value="Save as draft")
