header
  section.summary
    h1 Delete a topic
    p Deleting a topic moves it to the <a href="discussion/Trash/id/1">trash</a>, where it can be recovered later if necessary. Once removed from the trash by an administrator, a topic is permanently deleted.
    p Announcements moved to the trash are removed from all discussions in which they appear.

if trash && trash.message
  section.notice.error
    p !{trash.message}

section.form.topic-trash
  form#topic-trash-form(action="topic/id/#{url.id}/action/trashForm" method="post" novalidate)
    input(name="forwardToUrl" type="hidden" value="#{form.forwardToUrl}")
    ul.data
      li.reason.textarea
        label(for="reason") Why are you deleting this topic?
        p.label-note Optional
        textarea(id="reason" name="reason" rows="4") #{form.reason}
      li.notify.checkbox
        input(id="notify" name="notify" type="checkbox" value="true" checked=form.notify)
        label(for="notify") Notify members following this topic

    ul.actions
      li.primary.report
        input(name="formAction" type="submit" value="Move this topic to the trash")
