header
  //- include ../partials/breadcrumbs
  section.summary
    h1 Member List

section(class="members group-#{url.group}")
  nav.groups
    ul
      li(class="all-members #{ !url.group ? 'current' : '' }")
        a(href="members") All Members
      each group in groups
        li(class="group-#{group.id} #{group.url} #{ group.id == url.group ? 'current' : '' }")
          a(href="members/#{group.url}/group/#{group.id}")
            = group.name
  h2 #{count} #{ group ? group.name : 'Members'}
  include ../partials/pagination
  section.list
    table
      thead
        tr
          td(class="username #{ !url.order || url.order === 'username' ? 'selected' : '' }") Username (<a href="members/#{ url.group ? 'group/' + url.group + '/' : ''}order/username/sort/asc">A-Z</a> / <a href="members/#{ url.group ? 'group/' + url.group + '/' : ''}order/username/sort/desc">Z-A</a>)
          td.group Group
          td(class="join-date #{ url.order === 'join-date' ? 'selected' : '' }") Join Date (<a href="members/#{ url.group ? 'group/' + url.group + '/' : ''}order/join-date/sort/desc">Newest</a> / <a href="members/#{ url.group ? 'group/' + url.group + '/' : ''}order/join-date/sort/asc">Oldest</a>)
          td.last-active Last Active (<a href="members/#{ url.group ? 'group/' + url.group + '/' : ''}order/last-active/sort/desc">Most Recent</a> / <a href="members/#{ url.group ? 'group/' + url.group + '/' : ''}order/last-active/sort/asc">Least Recent</a>)
      tbody
        each member in members
          tr
            td.username
              a(href="user/#{member.url}/id/#{member.id}")
                = member.username
            td.group
              = member.name
            td.join-date
              = app.toolbox.moment.tz(member.joined, session.timezone).format(session.dateFormat)
            td.last-active
              = app.toolbox.moment.tz(member.lastActivity, session.timezone).format(session.dateFormat)
