h1 Discussion Categories

//- if session.talkPrivately
//-   section.category.private-topics
//-     h2 Private Topics
//-     p Stuff goes here!

if include.announcements
  section.category.announcements
    h2 Announcements
    != include.announcements

each category in categories
  section(class="category" data-category-id="#{category.categoryID}")
    h2 #{category.categoryTitle}
    each discussion in category.discussions
      article(class="discussion" data-discussion-id="#{discussion.discussionID}")
        h3
          a(href="discussion/#{discussion.discussionUrl}/id/#{discussion.discussionID}") #{discussion.discussionTitle}
        p.description !{discussion.discussionDescription}
        p.stats
          span.topics #{discussion.topics} 
          | topics with 
          span.posts #{discussion.posts} 
          | posts
        //-   if discussion.lastPostID !== 0
        //-     dt.last-post Last Post
        //-     dd.last-post
        //-       time #{discussion.lastPostDate}
        //-       |  by 
        //-       a(href="user/#{discussion.lastPostAuthorUrlUsername}" rel="author" title="View #{discussion.lastPostAuthor}'s profile.") #{discussion.lastPostAuthor}
