header
  section.summary
    h1 Discussion Categories
    p Welcome to the Original Trilogy forums! Talk about Star Wars fan preservations and fan edits, or just hang out in our Off Topic section.
    dl.content-stats
      dt Topics
      dd #{topicCount}

if include && include.announcements
  section.announcements
    h2 Announcements
    != include.announcements

section.categories
  each category in categories
    section(class="category" data-category-id="#{category.categoryID}")
      h2 #{category.categoryTitle}
      each discussion in category.discussions
        article(class="discussion #{ discussion.unread ? 'unread' : ''}" data-discussion-id="#{discussion.discussionID}")
          section.description
            h3
              a(href="discussion/#{discussion.discussionUrl}/id/#{discussion.discussionID}") #{discussion.discussionTitle}
            if discussion.discussionDescription
              p !{discussion.discussionDescription}
          a.content-stats(href="discussion/#{discussion.discussionUrl}/id/#{discussion.discussionID}")
            dl.content-stats
              dt.topics Topics
              dd.topics
                = discussion.topicsFormatted
              dt.posts Posts
              dd.posts
                = discussion.postsFormatted
          if discussion.lastPostCreated
            p.last-post
              a.avatar(href="user/#{discussion.lastPostAuthorUrl}/id/#{discussion.lastPostAuthorID}" rel="author" title="View #{discussion.lastPostAuthor}'s profile.")
                img(src="avatars/#{discussion.lastPostAuthorID}.jpg")
              a(href="user/#{discussion.lastPostAuthorUrl}/id/#{discussion.lastPostAuthorID}" rel="author" title="View #{discussion.lastPostAuthor}'s profile.")
                = discussion.lastPostAuthor
              |  posted
              time #{discussion.lastPostCreatedFormatted}
