section.summary
  h1 Discussion Categories

//- if session.talkPrivately
//-   section.category.private-topics
//-     h2 Private Topics
//-     p Stuff goes here!

if include.announcements
  section.announcements
    h2 Announcements
    != include.announcements

section.categories
  each category in categories
    section(class="category" data-category-id="#{category.categoryID}")
      h2 #{category.categoryTitle}
      each discussion in category.discussions
        article(class="discussion #{ discussion.updated ? 'updated' : ''}" data-discussion-id="#{discussion.discussionID}")
          h3
            a(href="discussion/#{discussion.discussionUrl}/id/#{discussion.discussionID}") #{discussion.discussionTitle}
          if discussion.discussionDescription
            p.description !{discussion.discussionDescription}
          ul.stats
            li.topics <strong>#{discussion.topicsFormatted}</strong> topics
            li.posts <strong>#{discussion.postsFormatted}</strong> posts
          if discussion.lastPostID !== 0
            .last-post
              h4 Last post
              time #{discussion.lastPostDateFormatted}
              //- |  by 
              //- a(href="user/#{discussion.lastPostAuthorUrl}/id/#{discussion.lastPostAuthorID}" rel="author" title="View #{discussion.lastPostAuthor}'s profile.") #{discussion.lastPostAuthor}
