article(id=post.id class="post" + ( post.author_signature ? " signature" : "" ) + ( post.author_group_id === 4 || post.author_group_id === 5 ? " staff" : "" ) data-post-id=post.id )
  header
    a(class="avatar" + ( post.author_group_id === 6 ? " banned" : "" ) href="user/" + post.author_url + "/id/" + post.author_id rel="author")
      if post.author_group_id === 6
        <svg class="icon banned"><use xlink:href="themes/#{session.themePath.images}/images/symbols.svg#icon-banned"></use></svg>
      img(src="avatars/" + post.author_id + ".jpg")
    dl
      dt.author Author
      dd.author
        a.author(href="user/" + post.author_url + "/id/" + post.author_id rel="author") #{post.author}
      dt.time Time
      dd.time
          time
            != post.created_formatted
          if post.editor_id
            span.edited &nbsp;<a href="post/id/#{post.id}">(Edited)</a>
      dt.link Post link
      dd.link
        a.post(href="post/id/" + post.id + "/action/topic#" + post.id title="Jump directly to this post.")
          | <svg class="icon link"><use xlink:href="themes/#{session.themePath.images}/images/symbols.svg#icon-link"></use></svg>
  section.content.post
    != post.html
  nav.actions
    ul
      if !local.topic.locked_by_id || session.moderate_discussions
        li.quote
          a(href="topic/action/reply/id/" + url.id + "/quote/" + post.id) Quote
      if ( session.username === post.author && !post.locked_by_id && !local.topic.locked_by_id ) || session.moderate_discussions
        li.edit
          a(href="post/action/edit/id/" + post.id) Edit
      //- li.bookmark
      //-   a(href="post/action/bookmark/id/#{post.id}") Bookmark
      if post.author_id !== session.user_id && !session.moderate_discussions
        li.report
          a(href="post/action/report/id/" + post.id) Report
      if session.moderate_discussions
        if !post.locked_by_id
          li.lock
            a(href="post/action/lock/id/" + post.id) Lock
        else
          li.unlock
            a(href="post/action/unlock/id/" + post.id) Unlock
        //- Don"t allow the only post in the topic to be deleted
        if local.topic.replies > 0
          li.delete
            a(href="post/action/trash/id/" + post.id) Delete
  if ( post.author_signature && post.author_signature.length ) || post.author_group_id === 4 || post.author_group_id === 5
    section.signature
      if post.author_group_id === 4
        section.staff.moderator Forum Moderator
      else if post.author_group_id === 5
        section.staff.administrator Forum Administrator
      section.content
        != post.author_signature
