article(class="topic #{ topic.unread ? 'unread' : '' } #{ topic.lockedByID ? 'locked' : '' }" data-topic-id="#{topic.id}")
  h3
    a(href="announcement/#{topic.url}/id/#{topic.id}") !{topic.titleHtml}
  dl.byline
    dt.author Author
    dd.author
      a(href="user/#{topic.topicStarterUrl}/id/#{topic.topicStarterID}" rel="author" title="View #{topic.topicStarter}'s profile.") #{topic.topicStarter}
    dt.date Date
    dd.date
      = topic.postDateFormatted
  dl.details
    dt.replies Replies
    dd.replies
      = topic.repliesFormatted
    if topic.repliesFormatted !== '0'
      dt.last-post Last post
      dd.last-post
        a(href="user/#{topic.lastPostAuthorUrl}/id/#{topic.lastPostAuthorID}" rel="author" title="View #{topic.lastPostAuthor}'s profile.")
          = topic.lastPostAuthor
        |  replied on 
        time #{topic.lastPostCreatedFormatted}
        a.avatar(href="user/#{topic.lastPostAuthorUrl}/id/#{topic.lastPostAuthorID}" rel="author" title="View #{topic.lastPostAuthor}'s profile.")
          img(src="avatars/#{topic.lastPostAuthorID}.jpg")
  a.avatar(href="user/#{topic.topicStarterUrl}/id/#{topic.topicStarterID}" rel="author" title="View #{topic.topicStarter}'s profile.")
    img(src="avatars/#{topic.topicStarterID}.jpg")
