article(class="topic" + ( topic.replies ? " has-replies" : "" ) + ( topic.unread ? " unread" : "" ) + ( topic.locked_by_id ? " locked" : "" ) data-topic-id=topic.id)
  section.description
    h3
      a(href="topic/id/" + topic.id + ( topic.accepted ? "" : "/accept/true" )) !{topic.title_html}
    section.author
      a(class="avatar" + ( topic.topic_starter_group_id === 6 ? " banned" : "" ) href="user/" + topic.topic_starter_url + "/id/" + topic.topic_starter_id rel="author" title="View " + topic.topic_starter + "'s profile.")
        if topic.topic_starter_group_id === 6
          <svg class="icon banned"><use xlink:href="themes/#{session.themePath.images}/images/symbols.svg#icon-banned"></use></svg>
        img(src="avatars/" + topic.topic_starter_id + ".jpg")
      dl.byline
        dt.author Author
        dd.author
          a(href="user/" + topic.topic_starter_url + "/id/" + topic.topic_starter_id rel="author" title="View " + topic.topic_starter + "'s profile.") #{topic.topic_starter}
        dt.date Date
        dd.date
          time
            = topic.post_date_formatted
  nav.actions
    ul
      if topic.accepted
        li.leave
          a(href="topic/action/leave/id/" + topic.id title="Stop participating in this private topic.") Leave
  a.content-stats(href="topic" + ( topic.accepted ? "" : "/accept/true" ) + "/id/" + topic.id)
    dl.content-stats(data-replies=topic.replies)
      dt.replies
        if topic.replies != 1
          | Replies
        else
          | Reply
      dd.replies
        = topic.replies_formatted
  if topic.replies
    p.last-post
      a(class="avatar" + ( topic.last_post_author_group_id === 6 ? " banned" : "" ) href="user/" + topic.last_post_author_url + "/id/" + topic.last_post_author_id rel="author" title="View " + topic.last_post_author + "'s profile.")
        img(src="avatars/" + topic.last_post_author_id + ".jpg")
      a(href="user/" + topic.last_post_author_url + "/id/" + topic.last_post_author_id rel="author" title="View " + topic.last_post_author + "'s profile.")
        = topic.last_post_author
      |  replied 
      time #{topic.last_post_created_formatted}
