section.summary
  h1 !{topic.titleHtml}
  a.avatar(href="user/#{topic.authorUrl}/id/#{topic.authorID}" rel="author" title="View #{topic.author}'s profile.")
    img(src="avatars/#{topic.authorID}.jpg")
  dl.byline
    dt.author Author
    dd.author
      a(href="user/#{topic.authorUrl}/id/#{topic.authorID}" rel="author" title="View #{topic.author}'s profile.") #{topic.author}
    dt.date Date
    dd.date
      time #{topic.createdFormatted}
  dl.content-stats
    dt
      if topic.replies != 1
        | Replies
      else
        | Reply
    dd #{topic.repliesFormatted}
  nav
    include pagination
    include topic-actions
