if user && user.message
  section.notice.error
    p !{user.message}

section.form.user
  form(action="#{route.pathname}" method="post" novalidate)    
    ul.data
      li(class="username text required")
        label(for="username")
          | Username
        input(id="username" name="username" type="text" value="#{form.username}" required)
      li(class="password text required")
        label(for="password")
          | Password
        input(id="password" name="password" type="password" value="#{form.password}" required)
      li(class="verify-password text required")
        label(for="verify-password")
          | Verify Password
        input(id="verify-password" name="verifyPassword" type="password" value="#{form.verifyPassword}" required)
      li(class="user-group select required")
        p <strong>Authors</strong> can create and edit their own articles.
        p <strong>Editors</strong> can also publish articles and edit other users' articles.
        p <strong>Administrators</strong> can edit and publish articles and manage user accounts.
        label(for="user-group")
          | User Group
        select(id="user-group" name="userGroup")
          option
          option(selected=(form.userGroup === 'Author'))
            | Author
          option(selected=(form.userGroup === 'Editor'))
            | Editor
          option(selected=(form.userGroup === 'Administrator'))
            | Administrator
  
    ul.actions
      li.primary
        input(name="formAction" type="submit" value="#{url.action} user")
