section.summary
  img(src="avatars/#{user.id}.jpg")
  h1 #{user.username}

  if user.group === "Banned Users"
    section.notice.banned
      p This user has been banned.

  dl
    dt User Group
    dd #{user.group}
    
    dt Join date
    dd #{user.joinedFormatted}
    
    dt Last activity
    dd #{user.lastActivityFormatted}
    
    dt Posts
    dd #{user.postCount}
    
    if user.website && user.website.length
      dt Web Site
      dd
        a(href="#{user.website}") #{user.website}

nav.actions
  ul
    li.private-topic
      a(href="topic/action/startPrivate/invitee/#{user.id}") Start a private topic
    if editProfile
      li.edit
        a(href="account") Edit profile
    if banUser
      if user.group !== "Banned Users"
        li.ban
          a(href="user/action/ban/id/#{user.id}") Ban this user
      else
        li.unban
          a(href="user/action/liftBan/id/#{user.id}") Lift ban

if banUser && ipHistory
  section.ip-history
    ul
      each ip in ipHistory
        li #{ip}  

section.posts
  if posts
    h2 Posts by #{user.username}
    include ../partials/pagination
    each post in posts
      include ../post/_user-profile-post
    include ../partials/pagination
  else
    p This user hasn't made any posts yet.
