section.summary
  h1 #{user.username}
  if user.signatureHtml
    p !{user.signatureHtml}

if user.group === "Banned Users"
  section.notice
    p This user has been banned.

if talkPrivately || editProfile || banUser
  nav.actions
    ul
      if talkPrivately
        li.private-topic
          a(href="topic/action/startPrivate/invitee/#{user.id}") Start a private topic
      if editProfile
        li.edit
          a(href="user/action/edit/id/#{user.id}") Edit profile
      if banUser
        if user.group !== "Banned Users"
          li.ban
            a(href="user/action/ban/id/#{user.id}") Ban this user
        else
          li.unban
            a(href="user/action/liftBan/id/#{user.id}") Lift ban

section.bio
  img(src="users/avatars/#{user.id}.jpg")
  dl
    dt User Group
    dd #{user.group}
    
    dt Join date
    dd #{user.joinDate}
    
    dt Last activity
    dd #{user.lastActivity}
    
    dt Posts
    dd #{user.postCount}
    
    if user.website && user.website.length
      dt Web Site
      dd <a href="#{user.website}">#{user.website}</a>
    
    if user.blog && user.website.length
      dt Blog
      dd <a href="#{user.blog}">#{user.blog}</a>

section.posts
  if posts
    h2 Recent posts:
    each post in posts
      include ../post/post
  else
    p This user hasn't made any posts yet.

include ../partials/pagination
