section.summary
  a.avatar(href="user/#{user.username}/id/#{user.id}")
    img(src="avatars/#{user.id}.jpg")
  h1 #{user.username}
  dl
    dt User Group
    dd #{user.group}

    dt Join date
    dd #{user.joinedFormatted}

    dt Last activity
    dd #{user.lastActivityFormatted}

    dt Posts
    dd #{user.postCount}

    if user.website && user.website.length
      dt Web Site
      dd
        a(href="#{user.website}") #{user.website}
  if user.group === "Banned Users"
    section.notice.banned
      p This user has been banned.
  nav.actions
    ul
      li.private-topic
        a(href="topic/action/startPrivate/invitee/#{user.id}") Start a private topic
      if editProfile
        li.edit
          a(href="account") Edit profile
      if moderateUser
        if user.group !== "Banned Users"
          li.ban
            a(href="user/action/ban/id/#{user.id}") Ban this user
        else
          li.unban
            a(href="user/action/liftBan/id/#{user.id}") Lift ban

if moderateUser
  section.user-logs
    h2 User Logs
    section.ip-history
      if ipHistory
        p IP addresses associated with this user (most recent first):
        ul
          each log in ipHistory
            li #{log.ip}
      else
        p There are no IP addresses associated with this user.
    section.ip-matches
      if usersWithMatchingIPs.length
        p Users with at least one matching IP:
        ul
          each user in usersWithMatchingIPs
            li
              a(href="user/#{user.url}/id/#{user.id}") #{user.username}
      else
        p No other users have matching IPs.

section.posts
  if posts
    h2 Post History
    include ../partials/pagination
    each post in posts
      include ../post/_user-profile-post
    include ../partials/pagination
  else
    p This user hasn't made any posts yet.
