h1 User Profile: #{user.username}

if session.moderateUsers
  nav.actions
    ul
      if talkPrivately
        li.private-topic
          a(href="private-topic/action/start/invitee/#{url.user}") Start a private topic
      if user.group !== "Banned Users"
        li.ban
          a(href="#{route.pathname}/action/ban") Ban this user
      else
        li.unban
          a(href="#{route.pathname}/action/unban") Unban this user

section.bio
  dl
    dt User Group
    dd #{user.group}
    
    dt Join date
    dd #{user.joinDate}
    
    dt Last activity
    dd #{user.lastActivity}
    
    dt Posts
    dd #{user.postCount}
    
    if user.website && user.website.length
      dt Web Site
      dd <a href="#{user.website}">#{user.website}</a>
    
    if user.blog && user.website.length
      dt Blog
      dd <a href="#{user.blog}">#{user.blog}</a>

section.posts
  if posts
    h2 Recent posts:
    each post in posts
      include ../post/post
  else
    p This user hasn't made any posts yet.

include ../partials/pagination
