doctype html
html(lang="en")
  != include._head
  body(data-controller=route.controller data-action=route.action data-chain=local.chain data-mode=config.citizen.mode data-descriptor=route.descriptor data-breadcrumbs= local.breadcrumbs ? "true" : "false" data-page= url.page || 1 )
    != include._header
    main
      each link in route.chain
        if link.output
          | <!-- controller: #{link.controller}, action: #{link.action}, view: #{link.view} -->
          != link.output
    != include._footer
    // browsersync
    if config.citizen.mode === 'development'
      | <script id="__bs_script__">//<![CDATA[
      |   (function() {
      |     try {
      |       var script = document.createElement('script');
      |       if ('async') {
      |         script.async = true;
      |       }
      |       script.src = 'https://HOST:3000/browser-sync/browser-sync-client.js?v=3.0.2'.replace("HOST", location.hostname);
      |       if (document.body) {
      |         document.body.appendChild(script);
      |       } else if (document.head) {
      |         document.head.appendChild(script);
      |       }
      |     } catch (e) {
      |       console.error("Browsersync: could not append script tag", e);
      |     }
      |   })()
      | //]]></script>
