article.post(id="#{message.id}" data-message-id="#{message.id}")
  h2
    img(src="#{config.main.staticAssetUrl}/avatars/#{message.authorUrl}.png")
    a(href="#{config.main.basePath}user/#{message.authorUrl}")
      = message.author
    time
      = message.dateCreated
  .content
    != message.html
  nav.actions
    ul
      li.reply
        a(href="#{route.pathname}/action/reply") Reply
      li.quote
        a(href="#{route.pathname}/action/reply/quote/#{message.id}") Quote
