header
  section.summary
    h1 Authentication Required

if authenticate && authenticate.message
  section.notice.error
    <svg class="icon error"><use xlink:href="themes/#{session.themePath.images}/images/symbols.svg#icon-error"></use></svg>
    p !{authenticate.message}

section.content
  p For your security, we require your password to access this section.
  p Can't remember your password? <a href="password-reset">Create a new one</a>.

section.form.sign-in
  form(action="sign-in/action/submit" method="post" novalidate)
    input(name="forwardToUrl" type="hidden" value=form.forwardToUrl)
    input(name="loginReferrer" type="hidden" value=form.loginReferrer)
    input(name="authenticationMethod" type="hidden" value="password")
    ul.data
      li.password.text.required
        label(for="password") Password
        input(id="password" name="password" type="password" value=form.password required autofocus)

    ul.actions
      li.primary
        input(name="formAction" type="submit" value="Submit")
