h1
  = discussion.title

if url.page === 1
  p
    != discussion.description
  
include ../partials/pagination
          
section.topics
  nav
    ul
      if session.moderateDiscussions
        li.new-announcement
          a(href="announcement/action/start") Make an announcement
      li.subscribe
        a(href="#{route.pathname}/action/subscribe" title="Receive an e-mail notification when new topics are added to this discussion.") Subscribe to this discussion
  if topics
    each topic in topics
      article.topic(data-topic-id="#{topic.id}")
        h3
          a(href="announcement/#{topic.url}/id/#{topic.id}")
            != topic.titleHtml
        p.details
          | Posted by 
          a(href="user/#{topic.topicStarterUrl}/id/#{topic.topicStarterID}" rel="author" title="View #{topic.topicStarter}'s profile.") #{topic.topicStarter}
          |  on 
          time #{topic.postDate}
        p.stats
          span.replies #{topic.repliesFormatted} 
          | replies
  else
    p There are no current announcements.

include ../partials/pagination
