section.summary
  h1 #{discussion.title}
  if discussion.description
    p !{discussion.description}
  
include ../partials/pagination
          
section.topics
  //- Remove this logic and put it back above li.new-announcement after the subscribe functionality is working
  if session.moderateDiscussions
    nav.actions
      ul
        //- if session.moderateDiscussions
        li.new-announcement
          a(href="topic/action/startAnnouncement") Make an announcement
        //- li.subscribe
        //-   a(href="#{route.pathname}/action/subscribe" title="Receive an e-mail notification when new topics are added to this discussion.") Subscribe
  if topics
    each topic in topics
      article(class="topic#{ topic.updated ? ' updated' : '' }#{ topic.unreadPosts ? ' unread' : '' }#{ topic.lockedByID ? ' locked' : '' }" data-topic-id="#{topic.id}")
        h3
          a(href="topic/#{topic.url}/id/#{topic.id}") !{topic.titleHtml}
        if topic.unreadPosts
          a.unread(href="topic/#{topic.url}/id/#{topic.id}/unread/true") View unread
        p.details
          a(href="user/#{topic.topicStarterUrl}/id/#{topic.topicStarterID}" rel="author" title="View #{topic.topicStarter}'s profile.") #{topic.topicStarter}
        p.stats
          span.replies #{topic.repliesFormatted} 
          | replies 
          time (last on #{topic.lastPostDateFormatted})
        a.avatar(href="user/#{topic.topicStarterUrl}/id/#{topic.topicStarterID}" rel="author" title="View #{topic.topicStarter}'s profile.")
          img(src="avatars/#{topic.topicStarterID}.jpg")
  else
    p There are no current announcements.

include ../partials/pagination
