section.summary
  h1 #{discussion.title}
  if discussion.description
    p !{discussion.description}
  
include ../partials/pagination
          
section.topics
  //- Remove this logic and put it back above li.new-announcement after the subscribe functionality is working
  if session.moderateDiscussions
    nav.actions
      ul
        //- if session.moderateDiscussions
        li.new-announcement
          a(href="announcement/action/start") Make an announcement
        //- li.subscribe
        //-   a(href="#{route.pathname}/action/subscribe" title="Receive an e-mail notification when new topics are added to this discussion.") Subscribe
  if topics
    each topic in topics
      article(class="topic#{ topic.updated ? ' updated' : '' }" data-topic-id="#{topic.id}")
        h3
          a(href="announcement/#{topic.url}/id/#{topic.id}") #{topic.titleHtml}
        p.details
          a(href="user/#{topic.topicStarterUrl}/id/#{topic.topicStarterID}" rel="author" title="View #{topic.topicStarter}'s profile.") #{topic.topicStarter}
          |  &mdash;
          time #{topic.postDateFormatted}
        p.stats
          span.replies #{topic.repliesFormatted} 
          | replies 
          time (last on #{topic.lastPostDateFormatted})
        if topic.unreadPosts
          a(href="announcement/#{topic.url}/id/#{topic.id}/unread/true") First unread post
  else
    p There are no current announcements.

include ../partials/pagination
