section.summary
  h1 #{discussion.title}
  if discussion.description
    p !{discussion.description}
  include ../partials/pagination

section.topics
  //- Remove this logic and put it back above li.new-announcement after the subscribe functionality is working
  if session.moderateDiscussions
    nav.actions
      ul
        //- if session.moderateDiscussions
        li.new-announcement
          a(href="topic/action/startAnnouncement") Make an announcement
        //- li.subscribe
        //-   a(href="#{route.pathname}/action/subscribe" title="Receive an e-mail notification when new topics are added to this discussion.") Subscribe
  if topics
    each topic in topics
      article(class="topic #{ topic.replies ? 'has-replies' : '' } #{ topic.unread ? 'unread' : '' } #{ topic.lockedByID ? 'locked' : '' }" data-topic-id="#{topic.id}")
        h3
          a(href="announcement/#{topic.url}/id/#{topic.id}") !{topic.titleHtml}
        a.avatar(href="user/#{topic.topicStarterUrl}/id/#{topic.topicStarterID}" rel="author" title="View #{topic.topicStarter}'s profile.")
          img(src="avatars/#{topic.topicStarterID}.jpg")
        dl.byline
          dt.author Author
          dd.author
            a(href="user/#{topic.topicStarterUrl}/id/#{topic.topicStarterID}" rel="author" title="View #{topic.topicStarter}'s profile.") #{topic.topicStarter}
          dt.date Date
          dd.date
            = topic.postDateFormatted
        if topic.replies
          a.content-stats(href="announcement/#{topic.url}/id/#{topic.id}")
            dl.content-stats
              dt.replies Replies
              dd.replies
                = topic.repliesFormatted
          p.last-post
            a.avatar(href="user/#{topic.lastPostAuthorUrl}/id/#{topic.lastPostAuthorID}" rel="author" title="View #{topic.lastPostAuthor}'s profile.")
              img(src="avatars/#{topic.lastPostAuthorID}.jpg")
            a(href="user/#{topic.lastPostAuthorUrl}/id/#{topic.lastPostAuthorID}" rel="author" title="View #{topic.lastPostAuthor}'s profile.")
              = topic.lastPostAuthor
            |  replied
            time #{topic.lastPostCreatedFormatted}
  else
    p There are no current announcements.

include ../partials/previous-and-next
