footer(data-view="/views/partials/footer")
  a.home(href="/" title="Go to our home page.") !{app.resources.images.logo}
  section.stats
    p <strong>#{local.stats.users}</strong> members have started <strong>#{local.stats.topics}</strong> topics with <strong>#{local.stats.posts}</strong> posts since <strong>#{local.stats.firstPostCreated}</strong>
  section.copyright
    p Site content Copyright © #{copyrightYear} TEH Innernets LLC. Please read our <a href="content/Terms-of-Service/id/3">Terms of Service</a>.
    p !{config.comitium.copy.footerOutro}
