h1 Start a private conversation

if preview
  section.preview
    h2 Message preview:
    article.post
      .title
        != preview.subject
      .content
        != preview.message
          
section.conversation-start-form
  form#conversation-start-form(action="conversation/action/startForm/recipient/#{url.recipient}" method="post" novalidate)
    if start && start.message
      .start-messages
        ul
          li #{start.message}
    .data
      ul
        li.recipient.text.required
          label(for="recipient")
            | Recipient
          //-   | Participants
          //- p.label-note
          //-   | To include multiple recipients, put each username on its own line.
          textarea(id="recipient" name="recipient" required) #{form.recipient}
        li.subject.text.required
          label(for="subject")
            | Subject
          textarea(id="subject" name="subject" required) #{form.subject}
        li.message.textarea.required
          label(for="message")
            | Message
          textarea(id="message" name="message" required) #{form.message}
    .actions
      ul
        li.secondary.preview
          input(name="formAction" type="submit" value="Preview")
        li.primary.post
          input(name="formAction" type="submit" value="Send your message")
        li.tertiary.draft
          input(name="formAction" type="submit" value="Save as draft")
        li.quaternary.cancel
          a(href="#{request.headers.referer}" title="Return to the page you came from.") Cancel and go back
