h1 Start a private conversation

if preview
  section.preview
    h2 Message preview:
    article.message
      .title
        != preview.title
      .content
        != preview.content
          
section.conversation-start-form
  form#conversation-start-form(action="#{config.main.basePath}conversation/action/startForm/recipient/#{url.recipient}" method="post" novalidate)
    if start && start.message
      .start-messages
        ul
          li #{start.message}
    .data
      ul
        li.subject.text.required
          label(for="topic-title")
            | Conversation subject
          textarea(id="topic-title" name="title" required) #{form.title}
        li.post-content.textarea.required
          label(for="post-content")
            | Message
          textarea(id="post-content" name="content" required) #{form.content}
        li.subscribe.checkbox
          input(id="subscribe" name="subscribe" type="checkbox" value="true" checked=form.subscribe)
          label(for="subscribe")
            | Notify me when someone replies
    .actions
      ul
        li.secondary.preview
          input(name="formAction" type="submit" value="Preview")
        li.primary.post
          input(name="formAction" type="submit" value="Send your message")
        li.tertiary.draft
          input(name="formAction" type="submit" value="Save as draft")
        li.quaternary.cancel
          a(href="#{request.headers.referer}" title="Return to the page you came from.") Cancel and go back
