h1 Post a new topic

if preview
  section.preview
    h2 Topic preview:
    article.post
      .title
        != preview.title
      .content
        != preview.content
          
section.topic-write-form
  form#topic-write-form(action="#{config.main.basePath}topic/action/writeForm/discussion/#{url.discussion}" method="post" novalidate)
    if write && write.message
      .write-messages
        ul
          li #{write.message}
    .data
      ul
        li.topic-title.text.required
          label(for="topic-title")
            | Topic title
          textarea(id="topic-title" name="title" required) #{form.title}
        li.post-content.textarea.required
          label(for="post-content")
            | Post content
          textarea(id="post-content" name="content" required) #{form.content}
        li.subscribe.checkbox
          input(id="subscribe" name="subscribe" type="checkbox" value="true" checked=form.subscribe)
          label(for="subscribe")
            | Notify me when someone replies
    .actions
      ul
        li.secondary.preview
          input(name="formAction" type="submit" value="Preview")
        li.primary.post
          input(name="formAction" type="submit" value="Post your topic")
        li.tertiary.draft
          input(name="formAction" type="submit" value="Save as draft")
        li.quaternary.cancel
          a(href="#{request.headers.referer}" title="Return to the page you came from.") Cancel and go back
