header
  section.summary
    h1 Edit topic: #{local.topic.title}

if local.preview
  section.preview
    h2 Topic preview:
    article.post
      h3.title
        != local.preview.title
      section.content
        != local.preview.content

if local.topic && local.topic.message
  section.notice.error
    <svg class="icon error"><use xlink:href="themes/#{session.themePath.images}/images/symbols.svg#icon-error"></use></svg>
    p !{local.topic.message}

section.form.post.topic-write
  form#topic-write-form(action="topic/action/editForm/id/" + local.topic.id method="post" novalidate)
    ul.data
      li.topic-title.textarea.required
        label(for="topic-title")
          | Topic title
        textarea(id="topic-title" name="title" rows="2" required) #{form.title}
      li.post-content.textarea.required
        label(for="post-content")
          | Post content
        textarea(id="post-content" name="content" rows="20" required) #{form.content}
      li.topic-edit-reason.textarea
        label(for="topic-edit-reason")
          | Reason for editing
        textarea(id="topic-edit-reason" name="reason") #{form.reason}

    ul.actions
      li.secondary.preview
        input(name="formAction" type="submit" value="Preview changes")
      li.primary.save
        input(name="formAction" type="submit" value="Save changes")
