section.summary
  h1 #{discussion.title}
  if discussion.description
    p !{discussion.description}

if announcements
  section.announcements
    h2 Announcements
    if session.moderateDiscussions
      nav.actions
        ul
          li.new-announcement
            a(href="announcement/action/start/id/#{discussion.id}") Make an announcement
    each announcement in announcements
      article(class="announcement#{ announcement.updated ? ' updated' : '' }#{ announcement.lockedByID ? ' locked' : '' }" data-announcement-id="#{announcement.id}")
        h3
          a(href="announcement/#{announcement.url}/id/#{announcement.id}") #{announcement.titleHtml}
          
section.topics
  h2 Topics
  nav.actions
    ul
      li.new-topic
        a(href="topic/action/start/id/#{discussion.id}") Start a new topic
      if !announcements && session.moderateDiscussions
        li.new-announcement
          a(href="announcement/action/start/id/#{discussion.id}") Make an announcement
      //- li.subscribe
      //-   a(href="#{route.pathname}/action/subscribe" title="Receive an e-mail notification when new topics are added to this discussion.") Subscribe

  include ../partials/pagination
  
  if topics
    each topic in topics
      article(class="topic#{ topic.updated ? ' updated' : '' }#{ topic.lockedByID ? ' locked' : '' }" data-topic-id="#{topic.id}")
        h3
          a(href="topic/#{topic.url}/id/#{topic.id}") #{topic.titleHtml}
        p.details
          a(href="user/#{topic.topicStarterUrl}/id/#{topic.topicStarterID}" rel="author" title="View #{topic.topicStarter}'s profile.") #{topic.topicStarter}
          |  &mdash;
          time #{topic.postDateFormatted}
        p.stats
          span.replies #{topic.repliesFormatted} 
          | replies 
          time (last on #{topic.lastPostDateFormatted})
        if topic.unreadPosts
          a.first-unread(href="topic/#{topic.url}/id/#{topic.id}/unread/true") Go to first unread post
  else
    p This discussion has no topics. <a href="topic/action/start/id/#{discussion.id}">Why not start one?</a>

include ../partials/pagination
