header
  section.summary
    h1 #{discussion.title}
    if discussion.description
      p !{discussion.description}
    dl.content-stats
      dt Topics
      dd #{discussion.topicsFormatted}

if announcements
  section.announcements
    h2 Announcements
    each topic in announcements
      article(class="topic announcement #{ topic.unread ? 'unread' : '' } #{ topic.lockedByID ? 'locked' : '' }" data-topic-id="#{topic.id}")
        h3
          a(href="announcement/#{topic.url}/id/#{topic.id}") !{topic.titleHtml}

section.topics
  h2 Topics
  if topics
    nav
      include ../partials/pagination
      if discussion.id !== 1
        nav.actions
          ul
            li.new-topic
              a(href="topic/action/start/id/#{discussion.id}") Start a new topic
            //- li.subscribe
            //-   a(href="#{route.pathname}/action/subscribe" title="Receive an e-mail notification when new topics are added to this discussion.") Subscribe
            if session.moderateDiscussions
              li.new-announcement
                a(href="topic/action/startAnnouncement/id/#{discussion.id}") Make an announcement
    each topic in topics
      include ../partials/topic
  else
    p This discussion has no topics. <a href="topic/action/start/id/#{discussion.id}">Why not start one?</a>

include ../partials/previous-and-next
